
   
   
   <main style="
        background-image: url('https://static.storyweaver.org.in/illustrations/58816/large/3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      " >
   
   
   <div class=" row justify-content-center ">
    <div id="intro" class="p-5 text-center rounded mb-5 "  style=" max-width: 50% ;  background-image: url(');
        background-repeat: no-repeat;
        background-size: cover;">
        <h1 class="mb-0 h4"> <strong> {{blog.blog_title}} </strong></h1>
      </div>
      <div>

    <!--Main layout-->
   <section class="row justify-content-center mt-3" >



    <div class="col-md-8 mb-4">
         

        <!-- blog section -->

        <section class="row justify-content-center border-bottom mb-4">
          <img src="{{blog.cover_image_url}}"
            class=" blog-image img-fluid shadow-2-strong rounded-5 mb-4" alt="" />

          <div class="row align-items-center mb-4 ">
            <div class="col-lg-6 text-center text-lg-end mb-3 m-lg-0">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSMw5AAkByIyDzHp48dVQvEJo5RPaNnQs8qA&usqp=CAU" class="rounded-5 shadow-1-strong me-2"
                height="35" alt="" loading="lazy" />
              <span> Published <u>{{formatDate blog.createdAt}}</u> by</span>
              <a href="" class="text-dark">abdinasir warsame</a>
            </div>

            
          </div>
        </section>
       

       
        <section class="rounded-3" style="background-color: rgba(115, 189, 214, 0.364);" >
       {{blog.blog_text}}

        </section>
       


<!-- comments section -->


        <section class="border-bottom mb-3 mt-5">
          <p class="text-center"><strong>Comments</strong></p>

          <div class="row mb-4">
            <div class="col-2">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTApbxj4499GJJWMYvKUVnzMUBJBt1b_Aob0A&usqp=CAU"
                class="img-fluid shadow-1-strong rounded-5" alt="" />
                
            </div>

            <div class="col-10 rounded" style="background-color: rgba(115, 189, 214, 0.126);">
              <p class="mb-2"><strong>Name of person who left comment</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
              </p>
            </div>
          </div>

        
          <div class="row mb-4">
            <div class="col-2">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTApbxj4499GJJWMYvKUVnzMUBJBt1b_Aob0A&usqp=CAU"
                class=" img-fluid shadow-1-strong rounded-5" alt="" />
                
            </div>

            <div class="col-10 rounded" style="background-color: rgba(115, 189, 214, 0.126);">
              <p class="mb-2"><strong>Name of person who left comment</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
              </p>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-2">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTApbxj4499GJJWMYvKUVnzMUBJBt1b_Aob0A&usqp=CAU"
                class=" img-fluid shadow-1-strong rounded-5" alt="" />
                
            </div>

            <div class="col-10 rounded" style="background-color: rgba(115, 189, 214, 0.126);">
              <p class="mb-2"><strong>Name of person who left comment</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
              </p>
            </div>
          </div>
        </section>

        <!-- add a comment section -->

        <section class="text-center border-top border-bottom py-4 mb-4">
          
          <div class="form-outline mb-4">
            <textarea class="form-control" id="comment-text" rows="4"></textarea>
            
          </div>
   
            <button id="add-comment" type="button" class="btn btn-primary me-1" >
              <i  class="fas fa-comments me-2"></i>Add comment
            </button>
          </section>

       


      </div>
   </section>
   </main>