
   
   
   <main style="
        background-image: url('https://static.storyweaver.org.in/illustrations/58816/large/3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      " >
   
   
   <div class=" row justify-content-center ">
    <div id="intro" class="p-5 text-center rounded mb-5 "  style=" max-width: 50% ;  background-image: url('{{cover_image_url}}');
        background-repeat: no-repeat;
        background-size: cover;">
        <h1 class="mb-0 h4"> <strong> {{dataValues.blog_title}} </strong></h1>
      </div>
      <div>

    <!--Main layout-->
   <section class="row justify-content-center mt-3" >



    <div class="col-md-8 mb-4">
         

        <!-- blog section -->

        <section class="border-bottom mb-4">
          <img src="https://news.microsoft.com/wp-content/uploads/prod/sites/68/2016/11/minecraft1-6-4-1920x1080-png2-1-960x640.png"
            class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />

          <div class="row align-items-center mb-4 ">
            <div class="col-lg-6 text-center text-lg-end mb-3 m-lg-0">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSMw5AAkByIyDzHp48dVQvEJo5RPaNnQs8qA&usqp=CAU" class="rounded-5 shadow-1-strong me-2"
                height="35" alt="" loading="lazy" />
              <span> Published <u>{{formatDate createdAt}}</u> by</span>
              <a href="" class="text-dark">abdinasir warsame</a>
            </div>

            
          </div>
        </section>
       

       
        <section class="rounded-3" style="background-color: rgba(115, 189, 214, 0.364);" >
          <p>
            ON JUNE 20, Microsoft-owned Mojang announced that NFTs and blockchain technology would no longer be allowed to “integrate” with Minecraft. 
            That was bad news for NFT Worlds, which has spent months building an entire crypto-economy on top of a collection of the randomized seeds needed to make specific Minecraft maps.
            Now, the team behind NFT Worlds announced it will create a new game that's “based on many of the core mechanics of Minecraft” but which will be “completely untethered from the policy 
            enforcement Microsoft and Mojang have over Minecraft.” NFT Worlds promises its new Minecraft-style game will be built “from the ground up” to be familiar to Minecraft players, but now with 
            “the modernization and active development Minecraft has been missing for years.”
          </p>

          <p><strong>Don’t Worry, Everything’s Gonna Work Out Just Fine</strong></p>

          <p>
            NFT Worlds’ game will always be free to play, the team says, and users won’t need a credit card to purchase any additional content. That content will presumably be purchased instead with the NFT Worlds token, whose value has plummeted over 60 percent in a week following Mojang’s announcement.
          </p>



          <p>
            For the time being, players that own an NFT world issued by NFT Worlds can still use its random seed to play in Minecraft or even host multiplayer sessions in that map,
             as a Microsoft spokesperson confirmed to Vice. But that’s not saying much, 
            since the NFT itself never provided exclusive rights to that map any more than writing “World 1-1” on a piece of paper provides ownership rights to the iconic Super Mario Bros. level.
          </p>
          <p>
            Under Microsoft’s new rules, though, NFT Worlds blockchain will no longer be able to hook into Minecraft’s API. That means that players
            can no longer easily make in-game crypto payments denominated in NFT Worlds’ $WRLD token, as well as take advantage of other features coded using the NFT Worlds API.
          </p>
          <p>
            The NFT Worlds team says that it will prioritize “backwards compatibility with existing Minecraft server development plugins and practices” in its upcoming clone. 
            That means creators should “continue building NFT Worlds content” on top of Minecraft, the team says, confident that it will work with the new, rebranded NFT Worlds game whenever it launches.
          </p>
          <p>
            Thanks to Mojang’s new EULA, though, any further NFT Worlds-related development in Minecraft can’t involve any 
            “blockchain-based functionality, NFT support, or game currency” for the time being. And since those were the central features that defined NFT Worlds’ 
            value as an add-on, it’s unclear what, exactly, NFT Worlds developers will be doing until their new Minecraft alternative is available.


          </p>


        </section>
       


<!-- comments section -->


        <section class="border-bottom mb-3 mt-5">
          <p class="text-center"><strong>Comments</strong></p>

          <div class="row mb-4">
            <div class="col-2">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTApbxj4499GJJWMYvKUVnzMUBJBt1b_Aob0A&usqp=CAU"
                class="img-fluid shadow-1-strong rounded-5" alt="" />
                
            </div>

            <div class="col-10 rounded" style="background-color: rgba(115, 189, 214, 0.126);">
              <p class="mb-2"><strong>Name of person who left comment</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
              </p>
            </div>
          </div>

        
          <div class="row mb-4">
            <div class="col-2">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTApbxj4499GJJWMYvKUVnzMUBJBt1b_Aob0A&usqp=CAU"
                class=" img-fluid shadow-1-strong rounded-5" alt="" />
                
            </div>

            <div class="col-10 rounded" style="background-color: rgba(115, 189, 214, 0.126);">
              <p class="mb-2"><strong>Name of person who left comment</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
              </p>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-2">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTApbxj4499GJJWMYvKUVnzMUBJBt1b_Aob0A&usqp=CAU"
                class=" img-fluid shadow-1-strong rounded-5" alt="" />
                
            </div>

            <div class="col-10 rounded" style="background-color: rgba(115, 189, 214, 0.126);">
              <p class="mb-2"><strong>Name of person who left comment</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
              </p>
            </div>
          </div>
        </section>

        <!-- add a comment section -->

        <section class="text-center border-top border-bottom py-4 mb-4">
          
          <div class="form-outline mb-4">
            <textarea class="form-control" id="comment-text" rows="4"></textarea>
            
          </div>
   
            <button id="add-comment" type="button" class="btn btn-primary me-1" >
              <i  class="fas fa-comments me-2"></i>Add comment
            </button>
          </section>

       


      </div>
   </section>
   </main>