.blog-info {
  display: flex;
  flex-direction: row;
}

.background-img {
  object-fit: contain;

  height: 200px;
}
.hero-body {
  position: relative;
  margin-bottom: 60rem;
}

.main-hero {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 47rem;
  background-image: url('https://st.depositphotos.com/1152339/2579/i/600/depositphotos_25794671-stock-photo-seo-web-design-concept-silver.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
