.blog-info {
  display: flex;
  flex-direction: row;
}

.background-img {
  object-fit: contain;

  height: 200px;
}
.hero-body {
  position: relative;
  margin-bottom: 50rem;
}

.main-hero {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 38rem;
  background-image: url('https://wallpaperaccess.com/full/148602.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
