.blog-info {
  display: flex;
  flex-direction: row;
}

.background-img {
  object-fit: cover;

  height: 200px;
}

.tech-banner {
  margin-bottom: 20px;
}

.blog-image {
  object-fit: cover;
  width: 45rem;
  height: 35rem;
}
